body{
    background-color: black;
}
.navbar{
	
	text-align: center;
	padding: 0px;
	overflow: hidden;
}
.na_b{
    color: rgb(170, 66, 66);
}
.navbar h1{
    color: white;
    text-align: center;
    margin-right: 90px;
    font-style: italic;
    text-decoration-line: underline;
    text-decoration-color:bisque;
}
.navbar ul{
	margin-top: 30px
}

.navbar li{
	display: inline;
	margin: 20px;
	font-size: 40px;
	padding-right: 80px;
	margin-right: 50px;
}

.navbar a{
	text-decoration: none;
	color:rgb(198, 65, 65);
	font-style: italic;
}
.navbar a:hover{
	size: 30px;
	font-weight: bold;
	transition: 0.3s;
    text-shadow: 0px 1px 2px;}
.text{
    float:right;
    width: 50%;
    margin-top: 220px;
    margin-right: 245px;
}
.text h1{
    color: rgb(194, 77, 77);
}

span{
    color: bisque;
    text-decoration-line: underline;
}
.text h3{
    color: rgb(168, 69, 67);
    text-align: left;
}
.containar .foto img{
    width: 130%;
    margin-right: 30px;  
}
 .foto{
    width: 30%;
    float:left;
    margin-top: 2px;
 }
.icon img{
    width: 30px;
    margin-left: 20px;
   overflow: hidden;
    
    
}
.icon img:hover{
    width: 35px;
    border: solid whitesmoke;
    border-radius: 60px;
}
.icon{
    margin-left: 200px;
    margin-top: 80px;
    padding-left: 300px;
}
.who{
    float: left;
    margin-right: 90px;
}
.who h2{
    color: antiquewhite;
    text-decoration-line: underline;margin-left:65px;
    text-decoration-color: yellow;
}
.who img{
    width: 60%;
}
.aboutme{
    margin-top: 100px;
}
.aboutme h1{
    color: rgb(255, 208, 0);
}
.aboutme p{
    color: white;
    font-size: larger;
    font-weight: bolder;
}
.back{
    color: rgb(255, 208, 0);
}
.adres{
text-decoration: none;
color: rgb(255, 208, 0);
}
.adress{
    margin: 30px;
    padding: 16px;
    padding-left: 30px;
}
.ad{
    border: transparent;
    background-color:  rgb(16, 17, 19);
    width: 33.3%;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: right;
    margin-left: 700px;
} 
.ad h3{
    color: rgb(255, 170, 0);
    text-align: center;
}
.ad p{
    color: azure;
    text-align: center;
}
.ad-icon{
    border: transparent;
    background-color: rgb(16, 17, 19);
    width: 33.3%;
    border-radius: 10px; 
    margin-left: 700px;
}
.ad-icon img{
    width: 30px;
    margin-left: 20px;
   overflow: hidden;
}
.ad-icon img:hover{
    border: solid whitesmoke;
    border-radius: 60px;
}
.ado{
    border: transparent;
    background-color: rgb(16, 17, 19);
    width: 33.3%;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    float: left;
    margin-left: 700px;
    
}
.ado h3{
    color: rgb(255, 170, 0);
    text-align: center;
}
.ado p{
    color: azure;
    text-align: center;
}
.ad-icon h3{
    color: rgb(255, 170, 0);
    text-align: center;
}
.ad-icon p{
    color: azure;
    text-align: center;
}